<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TRIVIA
    </ion-title>
    <ion-segment value="default">
      <ion-segment-button value="default">
        <ion-label>Introduccion</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Preguntas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="segment">
        <ion-label>Ranking</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <!-- Gestionar el control para mostrar un componente u otro. 
    -- Utilizaremos un ion-card por cada componente.
    -->
</ion-content>

