<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TRIVIA
    </ion-title>
    <ion-segment [(ngModel)]="selectedButton">
      <ion-segment-button value="introduccion">
        <ion-label>Introduccion</ion-label>
      </ion-segment-button>
      <ion-segment-button value="preguntas">
        <ion-label>Preguntas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="ranking">
        <ion-label>Ranking</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <div *ngIf="selectedButton === 'default'">
    <app-introduccion></app-introduccion>
  </div>
</ion-content>

<ion-content class="ion-padding" [fullscreen]="true">
  <div *ngIf="selectedButton === 'preguntas'">
    <app-preguntas></app-preguntas>
  </div>
</ion-content>

<ion-content class="ion-padding" [fullscreen]="true">
  <div *ngIf="selectedButton === 'ranking'">
    <app-ranking></app-ranking>
  </div>
</ion-content>

